$bright: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDark: hsl(179, 100%, 13%);

$transparent: hsla(0, 0%, 100%, 0.75);
$veryLight: hsl(0, 0%, 95%);

$font_body: 15px;
$font_lexend: 'Lexend Deca', sans-serif;;
$font_shoulders: 'Big Shoulders Display', cursive;

$desktop: 1440px;
$mobile: 375px;